<div class="new-upload-button-container">
    <button type="button" class="new-upload-button">Upload</button>
</div>

<div class="upload-dialog-box">
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <div class="file-select">
            <input type="file" name="file" id="file" class="file-input">
            <label for="file" class="file-label">Select your file</label>
        </div>
        <input type="submit" value="Submit" class="submit-button">
    </form>
</div>