<button type="button" class="new-upload-button button">Upload</button>

<div class="upload-dialog-box hidden">
    <div class="upload-form">
        <div class="upload-box-title">Select a file to upload</div>
        <form action="/upload" method="POST" enctype="multipart/form-data">
            <div class="file-select">
                <input type="file" name="file" id="file" class="file-input">
            </div>
            <div class="upload-buttons">
                <input type="submit" value="Submit" class="submit-button button">
                <button type="button" class="cancel-button button">Cancel</button>
            </div>
        </form>

    </div>
</div>