<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>File Deposit</title>
        <link rel="stylesheet" href="/style.css" defer>
        <link href="https://fonts.googleapis.com/css?family=Titillium+Web:400,900" rel="stylesheet">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.12/handlebars.runtime.js" defer></script>
        <script src="/componentTemplate.js" charset="utf-8" defer></script>
        <script src="/index.js" charset="utf-8" defer></script>
    </head>
    <body>

        <header>
            <a href="/" class="titlebar">File Deposit</a>
        </header>

        {{{body}}}

    </body>
</html>